html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.panel {
  position: absolute;
  color: white;
  padding: 0.5em;
  background-color: black;
}

.panel > .title {
  cursor: pointer;
  user-select: none;
}

#controls {
  top: 0;
  right: 2.5em;
  width: 10%;
}

.arrow {
  transition: 0.25s;
}

.content {
  display: none;
  padding: 10px;
  transition: 0.25s;
}

.expanded .content {
  display: block;
}

.expanded .arrow {
  transform: rotate(90deg);
}